.container-title {
  display: block;
  text-align: center;
  position: relative;
  font-size: 40px;

  &:before, &:after {
    content: '';
    display: block;
    position: relative;
    width: 300px;
    height: 1px;
    background: #333;
  }

  &:before {
    top: 0;
    margin: 20px auto 10px auto;
  }

  &:after {
    bottom: 0;
    margin: 10px auto 20px auto;
  }
}

#map-wrap {
  height: 400px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}
